<div class="page-title"><h1>Book Your Flight</h1></div>

<div class="box-title booking-form-header"><h3>Flight Information</h3></div>
<div class="box booking-flight-info">
  <p>
    <span>Flight date and time:</span>
    <span><%= @flight.flight_time %></span>
  </p>

  <p>
    <span>Departing from:</span>
    <span><%= @flight.departure_airport.code %></span>
  </p>

  <p>
    <span>Arriving at:</span>
    <span><%= @flight.arrival_airport.code %></span>
  </p>

  <p>
    <span>Flight duration:</span>
    <span><%= @flight.flight_duration %></span>
  </p>

  <p>
    <span>Flight number:</span>
    <span><%= @flight.id %></span>
  </p>
</div>

<div class="box-title booking-form-header"><h3>Passenger Information</h3></div>

<div class="booking-form box">
  <%= form_for @booking do |f| %>
    <% p = 1 %>
    <%= f.fields_for :passengers do |information| %>
      <div class="passenger-info">
        <p class="passenger-name">Passenger <%= p %></p>
        <p class="passenger-label">
          <%= information.label :name, "Name:" %>
          <%= information.text_field :name, :required => true %>
        </p>

        <p class="passenger-label">
          <%= information.label :email, "Email:" %>
          <%= information.email_field :email, :required => true %>
        </p>
      </div>

      <% p += 1 %>
    <% end %>

    <%= f.hidden_field(:flight_id, :value => @flight.id) %>
    <%= f.submit "Submit", :class => "btn", 
                           :data => {disable_with: "Submitting..." }%>
  <% end %>
</div>

<div class="back-btn">
  <%= link_to "Back", 'javascript:history.go(-1);', :class => "btn" %>
</div>